.container{
    max-width:400px;
    border: 1px solid gray;
    border-radius: 10px 10px 10px 10px;
    padding: auto;
    height:400px;
    background-color: #95dada;
    box-shadow: 3px 2px gray;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;

    
    .builder{
        height:35%;
        // border: 1px solid black;
        margin-left: 15px;
        justify-content: space-between;
        .item{
            margin-top: 5px;
            display : flex;
            .the-item{
                // background-color: pink;
                width:100%;
                justify-content: space-between;
                .egg{
                    height:25px;}
                    .beff{
                        height:25px
                    }
                }
                button{
                    margin-right: 5px;
                    border-radius: 100%;
                    background-color: darkslateblue;
                    height:25px;
                    width:25px;
                    box-shadow: 0px 0px 0px 0px;
                }
            
        }
    }
    .view{
    display: flex;
    flex-direction: column;
    justify-content: initial;
    height:65%;
    // border: 1px solid black;
    // background-color: red;
   
    }
    .price{
        text-align: center;
        color: darkviolet;
    }
   
}





